

.Hero {
    height: 920px;
    background-image:  url('/images/background1animated.gif');
    background-size: cover;
    padding-top: 300px;
}

.HeroGroup {
    color: white;
    max-width: 700px;
    margin: 0;
    padding: 30px;
    transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation: HeroAnimation 2s 0.1s forwards;
}

.Hero h1 { 
    line-height: 5rem;
    font-size: 24px;
    font-weight: 500;
    
}

.Hero h2 {  
    line-height: 1em;
    font-size: 72px;
}

.Herlo p {
    font-size: 14px;
}

.Hero a {
    color: white;
}

.Hero a:hover {
    font-size: 300%;
    color: red;
}

.padding-L {
    height: 72px;
}

@keyframes HeroAnimation {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.VideoFilter {
    filter: invert(100%);
}